<ion-header>
  <ion-navbar>
    <ion-title *ngIf="profileisDisabled">{{ 'USERS_TITLE' | translate }}</ion-title>
    <ion-title *ngIf="!profileisDisabled">{{ 'USER_EDIT_TITLE' | translate }}</ion-title>
    <ion-buttons end style="padding-right: 9px;">
      <button ion-button icon-only class="cursorContext" (click)="openModalHelp()">       
        <ion-icon name="ios-help-circle-outline" style="font-weight: bold;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="contentform" class="bknoform" #pageTop>
  <!--form (submit)="doSignup()"-->
<div *ngIf="profileisDisabled">
  <div *ngIf="account.InvitationStatus == 'Accepted'" (click)="editProfile()" style="position: absolute;right: 15%;top: 44px;">
    <div id="cirProfile" class="orange-circle" style="color:#FF8C07">
      <ion-icon name="md-create" class="icon-center"></ion-icon>
    </div>
  </div>
  <div style="display: table;margin-left: auto;margin-right: auto;padding-top: 30px; margin-bottom: -20px;">
    <div style="display: -webkit-box;" >
      <div  style="text-align: -webkit-center;padding: 0px 24px 0px 24px;max-width: 500px;margin: auto;">
        <button class="orange-circle-profle">
          <span class="avatarletters-profile">{{account.uAvatarLetter}}</span>
        </button>
        <p style="color: #3F4965;font-weight: 500;font-size: 24px;margin-top: 18px;">{{account.firstname}} {{account.lastname}}</p> 
      </div> 
    </div>  
  </div> 
</div>
    <ion-list> 
      <div class="profile-padding" id="profileform"> 
        <ion-item>
          <ion-label floating>{{ 'FIRST_NAME' | translate }}<span style="color: #FF8C07" *ngIf="!profileisDisabled"> *</span></ion-label>
          <ion-input type="text" [(ngModel)]="account.firstname" name="firstname" disabled="{{profileisDisabled}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'LAST_NAME' | translate }}<span style="color: #FF8C07" *ngIf="!profileisDisabled"> *</span></ion-label>
          <ion-input type="text" [(ngModel)]="account.lastname" name="lastname" disabled="{{profileisDisabled}}"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label floating>{{ 'POSITION' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.userposition" name="userposition" disabled="{{profileisDisabled}}"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label floating>{{ 'MOBILE' | translate }}</ion-label>
          <ion-input type="tel" [(ngModel)]="account.mobile" name="mobile" disabled="{{profileisDisabled}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'EMAIL' | translate }}<span style="color: #FF8C07" *ngIf="!profileisDisabled"> *</span></ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email" disabled="true"></ion-input>
        </ion-item>  
        <ion-item>
          <ion-label floating>{{ 'PASSWORD' | translate }}<span style="color: #FF8C07" *ngIf="!profileisDisabled"> *</span></ion-label>
          <ion-input [type]="passwordType" (input)="showeyeicon(account.password,1)" [(ngModel)]="account.password" name="password" disabled="{{profileisDisabled}}" clearOnEdit="{{ClearOnEdit}}"></ion-input>
        </ion-item>
        <div class="eyepass" *ngIf="eyeShow && !profileisDisabled" (click)="togglePassword(1)" style="margin-top: -42px;">
          <ion-icon  [name]="passwordIconEye"></ion-icon>
        </div>
        <ion-item *ngIf="!profileisDisabled" style="padding-bottom: 10px;">
          <ion-label floating>{{ 'CONFIRM_PASSWORD' | translate }}{{ClearOnEdit}}<span style="color: #FF8C07" *ngIf="!profileisDisabled"> *</span></ion-label>
          <ion-input [type]="confirmpasswordType" (input)="showeyeicon(account.confirmpassword,2)" [(ngModel)]="account.confirmpassword" name="confirmpassword" disabled="{{profileisDisabled}}" clearOnEdit="{{ClearOnEdit}}"></ion-input>
        </ion-item>
        <div class="eyepass" *ngIf="confirmeyeShow && !profileisDisabled" (click)="togglePassword(2)" style="margin-top: -52px;padding-bottom: 12px;">
          <ion-icon  [name]="confirmpasswordIconEye"></ion-icon>
        </div>
        <br>
      </div>
      <div class="btn-padding" *ngIf="!profileisDisabled">
        <button ion-button color="primary" (click)="doSave()" block>{{ 'SAVE_BUTTON' | translate }}</button>
      </div>
      <div class="btn-padding" *ngIf="!profileisDisabled">
        <button ion-button color="secondary" (click)="editProfile()" block>{{ 'CANCEL_BUTTON' | translate }}</button>
      </div>
    </ion-list>
  <!--/form-->
</ion-content>