page-account-detail {
    .grid {
        background-color: white;
        max-width: 460px;
        margin: auto;
    }

    .label-color-red {
        color: red;
    }

    .padding-left-100 {
        padding-left: 100px;
    }

    .padding-right-80 {
        padding-right: 80px;
    }
}
