<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>{{ 'BTN_CONTRACT_DOCUMENTS' | translate }}</ion-title>
    <ion-buttons end style="padding-right: 9px;">
      <button ion-button icon-only class="cursorContext" (click)="openModalHelp()">
        <ion-icon name="ios-help-circle-outline" style="font-weight: bold;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateLstBilling()"
      placeholder="{{ 'PLACE_HOLDER_SEARCH' | translate }}">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'PULLING_TEXT' | translate }}"
      refreshingSpinner="dots" refreshingText="{{ 'REFRESHING_TEXT' | translate }}"></ion-refresher-content>
  </ion-refresher>
  <div class="labelHeader">
    <div class="labelSubHeader">
      <div>
        <ion-label class="labelTitle">{{ 'COMMITMENT_LABEL' | translate }}:
        </ion-label>
      </div>
      <div style="padding-left: 5px">
        <ion-label class="labelProjectDescription">
          {{ lblTransactionNumber }} - {{ lblProjectName }}</ion-label>
        <br>
      </div>
    </div>
  </div>

  <div style="width: 100%;">
    <div style="float: right;">
      <ion-label class="labelOpen">
        {{ 'REVISED_COMMITMENT_LABEL' | translate }}:
        <b *ngIf="!olddata" class="labelOpenAmount">{{project._rtMonetarySymbol}}{{lblcontract | number:'1.2-2'}}</b>
        <b *ngIf="olddata" class="labelOpenAmount">{{ 'UNKNOW_LABEL' | translate }}</b>
      </ion-label>
    </div>
  </div>

  <ion-list style="margin-bottom: 66px;">
    <ion-item-sliding *ngFor="let item of currentItems" [hidden]="item.hide">
      <div ion-item class="border-list">
        <ion-label style="margin: 0;">
          <div class="divItem">
            <div (click)="openItem(item)" class="divSubItem">
              <div class="displayFlex">
                <div class="labelCol-1">
                  <h2 class="labelInvoiceNumber">
                    {{ item.Description }}
                  </h2>
                </div>
                <div class="labelCol-2">
                  <div class="labelLineAmount">{{project._rtMonetarySymbol}}{{ item.TotalWithTax | number:'1.2-2'}}
                  </div>
                </div>
              </div>
              <div class="displayFlex">
                <div class="labelCol-1">
                  <ion-note item-end class="labelStatus">{{item.Status}}</ion-note>
                </div>
                <div class="labelCol-2">
                  <div>
                    <ion-note item-end class="labelLineEdit">{{ item.OrderDate }}</ion-note>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttonCol-3">
              <button class="blue-circle-background" (click)="openView(item)">
                <span class="bluecircleletters">View</span>
              </button>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-item-sliding>
  </ion-list>
</ion-content>