<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RESET_PASSWORD' | translate }}</ion-title>
    <ion-buttons end style="padding-right: 9px;">
      <button ion-button icon-only class="cursorContext" (click)="openModalHelp()">
        <ion-icon name="ios-help-circle-outline" style="font-weight: bold;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!--form (submit)="doSignup()"-->
  <form (ngSubmit)="doConfirm()" [formGroup]="resetForm" class="widthForm">
    <ion-list>
      <div class="profile-edit-padding">
        <ion-item>
          <ion-label floating>{{ 'PASSWORD' | translate }}<span style="color: #FF8C07"> *</span></ion-label>
          <ion-input [type]="passwordType" (input)="showeyeicon(resetForm.controls.password.value,1)" name="password"
            clearOnEdit="false" formControlName="password"></ion-input>
        </ion-item>
        <div class="eyepass" *ngIf="eyeShow" (click)="togglePassword(1)" style="margin-top: -42px;">
          <ion-icon [name]="passwordIconEye"></ion-icon>
        </div>
        <ion-item style="padding-bottom: 10px;">
          <ion-label floating>{{ 'CONFIRM_PASSWORD' | translate }}<span style="color: #FF8C07"> *</span></ion-label>
          <ion-input [type]="confirmpasswordType" (input)="showeyeicon(resetForm.controls.confirmpassword.value,2)"
            name="confirmpassword" clearOnEdit="false" formControlName="confirmpassword"></ion-input>
        </ion-item>
        <div class="eyepass" *ngIf="confirmeyeShow" (click)="togglePassword(2)" style="margin-top: -52px;">
          <ion-icon [name]="confirmpasswordIconEye"></ion-icon>
        </div>
        <br>
      </div>
    </ion-list>

    <ion-card *ngIf="resetForm.controls['password'].errors?.pattern">
      <div class="errorPassword">
        <ion-icon ios="ios-warning" md="md-warning"></ion-icon> Password must be minimum 6 characters and may only include these symbols: <strong>$@!%*?&</strong> <strong>$@!%*?&</strong>
      </div>
    </ion-card>

    <ion-card *ngIf="resetForm.controls['confirmpassword'].errors?.mustMatch">
      <div class="errorPassword">
        <ion-icon ios="ios-warning" md="md-warning"></ion-icon> Passwords must match
      </div>
    </ion-card>

    <br>
    <br>
    <div class="btn-padding">
      <button ion-button class="btn-confirm" color="primary" block [disabled]="!resetForm.valid"
        type="submit">{{ 'SAVE_BUTTON' | translate }}</button>
    </div>
  </form>
  <!--/form-->
</ion-content>
<ion-footer style="display: inline-flex;">

</ion-footer>