
.tp-checkmark-circle-outline:before { content: '\e800'; } /* '' */
.tp-chevron-double-down-outline:before { content: '\e801'; } /* '' */
.tp-chevron-double-up-outline:before { content: '\e802'; } /* '' */
.tp-calculator-outline:before { content: '\e803'; } /* '' */
.tp-eye-outline:before { content: '\e804'; } /* '' */
.tp-close-circle-outline:before { content: '\e805'; } /* '' */